#company-info {
    nav ul li a:hover {
        color: rgb(0, 94, 255);
        /* Hover color (orange) */
    }

    header {
        color: #000;
        background-color: rgb(113, 160, 242);
        height: 10%;
        width: 90%;
    }

    p {
        padding: 0.5rem;
        margin-top: 5rem;
    }
}

.us {
    header {
        color: #000000;
        background-color: rgb(113, 160, 242);
        width: 95%;
    }

    padding: 5vh;

    img {
        padding: 2vh;
    }

    p {
        padding: 2vh;
    }

    #first {
        font-size: 125%;
        font-style: oblique;
    }

    summary {
        color: rgb(247, 178, 89);
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #ffffff;

    p {
        size: 300%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    color: #ffffff;
    padding: 1rem;
    text-align: center;
    border-radius: 100px;
}

nav ul {

    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;

}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

a {
    color: #ff0000;
}

section {

    margin: 0 auto;
    padding: 2.1rem;
    background-image: url(/img/home.jpg);
    background-size: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

section p {
    line-height: 2;
}

footer {
    text-align: center;

    background-color: #fc7474;
    color: #fff;
    padding: 1.5vh;
}

.us {
    background: rgb(224, 235, 255);
    color: #000;
    border-spacing: 10%;
}

.us header {
    color: #000000;
}

#fix {
    position: fixed;
}


img {
    border-radius: 50%;
    width: 500px;
    align-self: center;

}

form {
    margin-top: 10%;
}

label {
    margin-top: 10%;
    padding: 10%;
}

input {
    margin-left: 10%;
}

select {
    margin-left: 10%;
}

#Message {
    padding: 10%;
}